img {
  width: 100%;
  border-radius: 5px;
}

header {
  background-color: rgb(86, 43, 129);
}

h3,
a {
  color: white;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
}

a.entry-launch {
  padding: 0 1rem;
  text-decoration: none;
}

a.form-launch {
  background-color: rgb(86, 43, 129);
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  margin: auto 0;
}

body {
  background-color: rgb(240, 240, 240);
}

h1,
h2,
label {
  font-weight: bold;
  font-family: "Proza Libre", sans-serif;
}

.entry-bar {
  display: flex;
  justify-content: space-between;
}

input,
textarea {
  width: 100%;
  padding: 5px 10px;
  margin: 10px 0;
  outline: none;
  border: 2px solid rgb(209, 209, 209);
  border-radius: 5px;
}

#code-journal > .row:last-child > .column-full:last-child {
  text-align: right;
}

button {
  background-color: rgb(86, 43, 129);
  color: white;
  padding: 0.6rem 1.1rem;
  border-radius: 5px;
  border: 0;
  text-align: right;
}

input:focus,
textarea:focus {
  border: 2px solid rgb(126, 93, 159);
  border-radius: 5px;
}

button:hover {
  box-shadow: 0 0 3px 0.5px rgb(126, 43, 129);
  cursor: pointer;
}

ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0 1.5rem;
}

p {
  font-family: "Open Sans", sans-serif;
}

li.row {
  align-items: center;
}

.no-entries {
  text-align: center;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-solid,
.fa-pencil {
  color: rgb(86, 43, 129);
  cursor: pointer;
}
