img {
  width: 100%;
  border-radius: 5px;
}

header {
  background-color: rgb(86, 43, 129);
}

h3,
a {
  color: white;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
}

a.entry-launch {
  padding: 0 1rem;
  text-decoration: none;
}

a.form-launch {
  background-color: rgb(86, 43, 129);
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  margin: auto 0;
}

body {
  background-color: rgb(240, 240, 240);
}

h1,
h2,
label {
  font-weight: bold;
  font-family: "Proza Libre", sans-serif;
}

.entry-bar {
  display: flex;
  justify-content: space-between;
}

input,
textarea {
  width: 100%;
  padding: 5px 10px;
  margin: 10px 0;
  outline: none;
  border: 2px solid rgb(209, 209, 209);
  border-radius: 5px;
}

#code-journal > .row:last-child > .column-full:last-child {
  text-align: right;
}

.delete-button,
.save-button {
  margin: auto;
  display: flex;
  align-items: center;
}

.delete-button {
  justify-content: flex-start;
}

.save-button {
  justify-content: flex-end;
}

button.delete {
  color: rgb(204, 18, 18);
  border: none;
  font-weight: bold;
  text-decoration: underline;
}

button#save,
button.cancel-delete,
button.confirm-delete {
  font-weight: bold;
  padding: 0.6rem 1.1rem;
  border-radius: 5px;
  border: 0;
}

button#save {
  background-color: rgb(86, 43, 129);
  color: white;
}

button.cancel-delete {
  background-color: rgb(208, 212, 214);
}

button.confirm-delete {
  background-color: rgb(253, 66, 65);
  color: white;
}

input:focus,
textarea:focus {
  border: 2px solid rgb(126, 93, 159);
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
}

button#save:hover {
  box-shadow: 0 0 3px 0.5px rgb(126, 43, 129);
}

button.cancel-delete:hover {
  box-shadow: 0 0 3px 0.5px rgb(126, 129, 131);
}

button.confirm-delete:hover {
  box-shadow: 0 0 3px 0.5px rgb(150, 14, 14);
}

ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0 1.5rem;
}

p {
  font-family: "Open Sans", sans-serif;
}

li.row {
  align-items: center;
}

.no-entries {
  text-align: center;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-solid,
.fa-pencil {
  color: rgb(86, 43, 129);
  cursor: pointer;
}

.delete-modal,
.delete-modal-on {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(32, 32, 32, 0.7);
  align-items: center;
  justify-content: center;
}

.delete-modal {
  display: none;
}

.delete-modal-on {
  display: flex;
}

.modal-content {
  display: flex;
  background-color: white;
  flex-direction: column;
  margin: 15rem auto;
  border-radius: 5px;
  padding: 55px 5px;
  border: 1px solid rgb(136, 136, 136);
  width: 450px;
  align-items: center;
  justify-content: center;
}

.modal-column {
  display: flex;
  margin: 0.5rem auto;
  justify-content: space-around;
}

h2.modal-delete-text {
  font-size: larger;
  text-align: center;
}
